# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.vscode-test/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android related

**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/generated/
**/android/**/intermediates/
**/android/**/tmp/
**/android/**/outputs/
**/android/**/pids
**/android/**/build/

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/*.xccheckout
**/ios/**/*.xcscmblueprint
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.symlinks/
**/ios/Profile/
**/ios/Release/

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/macos/Pods/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/ephemeral
**/windows/runner/resources/

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/ephemeral

# Web
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Environment variables
.env