# Este es un archivo de ejemplo, debes configurar tu propio .env

# Llave de groqCloud
GROQ_CLOUD_API=
# Modelo para generar las preguntas
GROQ_CLOUD_MODEL="llama-3.1-8b-instant"

# Configuración Joss Red
JOSSRED=https://joss.red/
JOSSRED_API= # Codigo generado desde la app de Joss Red App
JOSSREDCHECKUPDATES= # Tu url de chequeo de actualización 